@font-face {
  font-family: "Bigilla";
  src: url("../fonts/Bigilla.otf") format("opentype");
  /* Add other font formats and styles as needed */
}

@font-face {
  font-family: "Sk-Modernist";
  font-weight: bold;
  src: url("../fonts/Sk-Modernist-Bold.otf") format("opentype");
  /* Add other font formats and styles as needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sk-Modernist";
  color: #fff;
}

html,
body {
  overflow-x: hidden;
  background-color: #0a0a0a !important;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .container {
  width: 96%;
  margin: 0px auto;
}

.divider {
  width: 100%;
  height: 2px;
  background: #fff;
}

.whitespace {
  width: 100%;
  height: 80px;
}

.navbar .navbar-container {
  display: flex;
  padding: 12px 0;
  font-size: 16px;
  justify-content: space-between;
}

.navbar .navbar-container .site-title {
  flex-grow: 1;
}

.navbar .navbar-container .site-type {
  flex-grow: 1;
}

.navbar .navbar-container .site-year {
  flex-grow: 2;
  text-align: right;
}

.header {
  margin: 80px 0;
  z-index: 2 !important;
}

.header .header-container h1 {
  font-family: "Bigilla";
  font-size: 12rem;
}

@media (max-width: 900px) {
  .header .header-container h1 {
    font-size: 5.4rem;
  }
}

.hero-image {
  width: 100%;
  margin-top: -300px;
}

.hero-image::after {
  content: "";
  display: table;
  clear: both;
}

.hero-image .hero-image-container {
  width: 40%;
  float: right;
}

.hero-image .hero-image-container img {
  width: 100%;
}

@media (max-width: 900px) {
  .hero-image {
    margin-top: -100px;
  }
  .hero-image .hero-image-container {
    width: 100%;
  }
}

.section-header .section-header-container {
  display: flex;
  padding: 12px 0;
  font-size: 16px;
  justify-content: space-between;
}

.about {
  width: 100%;
}

.about::after {
  content: "";
  display: table;
  clear: both;
}

.about .about-container {
  width: 70%;
  float: right;
}

.about .about-container p {
  margin: 40px 0;
  font-size: 36px;
}

@media (max-width: 900px) {
  .about .about-container {
    width: 100%;
  }
  .about .about-container p {
    font-size: 24px;
  }
}

.menu__item {
  position: relative;
  padding: 1.6vw 0 0 0;
  margin: 4px;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-family: "Bigilla";
  text-transform: uppercase;
}

.menu__item-link::before {
  all: initial;
  text-transform: uppercase;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu {
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 8vw;
  padding: 1.6vw 1vw;
  font-weight: 900;
}

.marquee span {
  font-family: "Bigilla" !important;
  text-transform: uppercase;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.technologies .technologies-container .heading {
  font-size: 40px;
  line-height: 100px;
  justify-content: space-between;
}

.technologies .technologies-container .subheading {
  font-family: "Bigilla";
  font-size: 40px;
  line-height: 100px;
}

@media (max-width: 900px) {
  .technologies .technologies-container p {
    font-size: 36px;
    line-height: 50px;
    text-align: justify;
    justify-content: space-between;
  }
}

.work .work-container .heading {
  line-height: 100px;
  justify-content: space-between;
  display: flex;
  /* padding: 12px 0; */
}

.work .work-container .heading div {
  font-family: "Bigilla";
  font-weight: bolder;
  font-size: 40px;
}

.work .work-container p {
  /* font-family: "Bigilla"; */

  font-size: 30px;
}

@media (max-width: 900px) {
  .work .work-container div {
    font-family: "Bigilla";
    font-size: 12px;
    line-height: 50px;
    text-align: justify;
    justify-content: space-between;
  }
}

.navbar .navbar-container {
  display: flex;
  padding: 12px 0;
  font-size: 16px;
  justify-content: space-between;
}

.title .title-container h1 {
  font-family: "Bigilla";
  font-size: 8rem;
}

.details .details-container {
  line-height: 100px;
  font-size: 20px;
  display: flex;
  padding: 12px 0;
  justify-content: space-between;
  align-items: center;
}

.about .about-container .info h6 {
  margin: 0;
  line-height: normal; /* Remove margins between <p> and <h6> elements */
}

.details .details-container .info p {
  font-size: 20px;
  color: grey;
  margin: 0;
  line-height: normal;
}

.description .description-container p {
  /* font-family: "Bigilla"; */
  font-size: 20px;
  /* color: grey; */
}

/*  */
.img-container_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px; /* Add some gap between the images */
}

.big-image_1 img {
  width: 100%;
  height: auto; /* Maintain aspect ratio of the big image */
}

.small-images_1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px; /* Add some gap between the small images */
}

.small-images_1 .small-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio of the small images */
}

.img-container_2 {
  display: grid;
  grid-template-rows: 2fr 3fr; /* Set two rows, with the first row taking twice the height of the second row */
  grid-gap: 10px; /* Add some gap between the images */
}

.big-image_2-1 img {
  width: 100%;
  height: 100%; /* Use 100% height to fill the entire container and maintain aspect ratio of the big image */
}
.big-image_2-2 img {
  width: 50%;
  height: 50%; /* Use 100% height to fill the entire container and maintain aspect ratio of the big image */
}

.small-images_2 {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Set two columns for the small images in the second row */
  grid-gap: 10px;
  /* Add some gap between the small images */
  align-items: start;
}

.small-images_2 .small-image-1 img {
  width: 100%;
  height: 40%; /* Use 100% height to fill the entire container and maintain aspect ratio of the small images */
}
.small-images_2 .small-image-2 img {
  width: 100%;
  height: 50%; /* Use 100% height to fill the entire container and maintain aspect ratio of the small images */
}

.img-container_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  grid-gap: 20px; /* Add some gap between the images */
}

.img-container_3 img {
  width: 100%;
  height: auto; /* Maintain aspect ratio of the images */
}
.project-nav .project-nav-container {
  display: flex;
  justify-content: space-between;
}

/* 



h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url(https://images.unsplash.com/photo-1540349220179-09d3866f2e74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

.project1::after {
  content: "timeless flow.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -60%;
  right: 0;
  bottom: 0;
}

.project2 {
  background: url(https://images.unsplash.com/photo-1468870045442-e7d799d8c98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

.project2::after {
  content: "foretime.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(https://images.unsplash.com/photo-1482501157762-56897a411e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

.project3::after {
  content: "never again.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -50%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url(https://images.unsplash.com/photo-1435685813800-51ba4ceb9c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1785&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

.project4::after {
  content: "departure.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .vertical {
    display: none;
  }

  .project1::after,
  .project2::after,
  .project3::after,
  .project4::after {
    display: none;
  }
} */
